.product{
    width: 300px;
    padding: 1rem;
    background: #fff;
    box-shadow: 0  1px 4px rgb(0,0,0,0.4);
    margin: 8px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.product > img {
    width: 100%;
    height: 180px;
    border-radius: 8px;
    object-fit: contain;
}

.product-info > p{
    margin-bottom: 8px;
}

.product-price{
    font-weight: bold;

}

.product-name{
    font-size: 1rem;
    overflow: hidden;
}

.product-description{
    font-size: 0.8rem;
}

.product-info-btn{
    display: block;
    text-decoration: none;
    text-align: center;
    color: #171717;
    width: 100%;
    padding: 8px 16px;
    background-color: #f4f4f4;
    border: 1px solid #171717;
    font-size: 1rem;
}

.product-info-btn:hover{
    background: #171717;
    color: #f4f4f4;
}

  @media (max-width: 500px) {
    .product {
      width: 280px;
    }
  }
  
  @media (max-width: 400px) {
    .product {
      width: 220px;
    }
  }


  

