.home-screen{
    max-width: 1300px;
    margin: 1rem 1rem;

}

.home-screen-title{
    font-size: 1.5rem;
    color: #171717;
    margin-bottom: 1rem;
    margin-left: 8px;

}

.home-screen-products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 2rem;
    justify-items: center;
    align-items: center;
    overflow: hidden;

}


